body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  border-bottom: 2px solid gold;
}

h1 {
  letter-spacing: 3px;
}
 .product-img {
  width: 100%;
  max-height: 220px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 12px;
  background: #000;
  padding: 10px;
}